/**
 * Based on HTML rendering suggestions and the differences across UA sheets:
 * https://html.spec.whatwg.org/multipage/rendering.html
 *
 * Selectors sorted as they appear in the HTML Standard for better compression.
 */

html {
  line-height: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre,
blockquote,
ol,
ul,
menu,
dl,
dd,
figure,
input, /* Safari-only */
button, /* Safari-only */
select, /* Safari-only */
textarea, /* Safari-only */
fieldset {
  margin: 0;
}

hr,
iframe,
input,
button,
select,
textarea,
fieldset {
  border-width: 0;
}

ol,
ul,
menu,
td,
th,
input,
button,
select,
textarea,
fieldset,
legend {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
th {
  font: inherit; /* font-size, font-weight, font-style */
}

ol,
ul,
menu {
  list-style: none; /* list-style-type */
}

a {
  color: inherit;
  text-decoration: inherit;
}

table {
  border-spacing: 0;
}

th {
  text-align: inherit;
}

input,
button,
select,
textarea {
  background: none;

  /* https://adrianroselli.com/2019/09/under-engineered-text-boxen.html */
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;

  color: inherit;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  opacity: 1; /* Firefox-only */
}

/* Safari-only */
select {
  border-radius: 0;
}
