/**
 * Based on HTML rendering suggestions and the differences across UA sheets:
 * https://html.spec.whatwg.org/multipage/rendering.html
 *
 * Selectors are chunked in ordered groups for better compression (e.g. gzip).
 */

html {
  line-height: 1;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
dl,
dd,
figure,
pre,
hr,
fieldset,
button, /* Only for Safari */
input, /* Only for Safari */
select, /* Only for Safari */
textarea, /* Only for Safari */
ol,
ul,
menu {
  margin: 0;
}

th,
td,
legend,
fieldset,
button,
input,
select,
textarea,
ol,
ul,
menu {
  padding: 0;
}

hr,
fieldset,
button,
input,
select,
textarea,
iframe {
  border: 0;
}

button,
input,
select,
textarea {
  background: none;
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
address {
  font: inherit; /* font-size, font-weight, font-style */
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul,
menu {
  list-style: none; /* list-style-type */
}

table {
  border-spacing: 0;
}

th {
  text-align: inherit;
}

/* Only for Firefox */
::placeholder {
  color: gray;
  opacity: 1;
}
